<h2>Edit Artist</h2>

<form action="/artists/<%= @artist.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="name">Name:</label>
  <input name="name" value="<%= @artist.name %>">

  <label for="photo_url">Photo URL:</label>
  <input name="photo_url" value="<%= @artist.photo_url %>">

  <label for="nationality">Nationality:</label>
  <input name="nationality" value="<%= @artist.nationality %>">

  <input type="submit" value="Create">
</form>
