<h3>Songs</h3>
<p>Here's what YOU have asked to hear on Tun.r.</p>
<% @songs.each do |song| %>
  <li><%= song %></li>
<% end %>

<p>Contribute to this list</p>
<form action="/songs" method="post">
  <label>
    Title
    <input type="text" name="title">
  </label>
  <input type="submit" value="Add Song">
</form>
