<h2>New Song</h2>

<form action="<%= songs_path %>" method="post">
  <label>Title:</label>
  <input name="song[title]">

  <label>Album:</label>
  <input name="song[album]">

  <label>Preview URL:</label>
  <input name="song[preview_url]">

  <label>Artist ID:</label>
  <input name="song[artist_id]">

  <label>Price (cents):</label>
  <input name="song[price]">

  <input type="submit" value="Create">
</form>

<%= link_to('Back to Songs') %>
